---
import CalificationStars from '../../components/Services/CalificationStars.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Calendar from '../../components/Services/Calendar.astro';
import PromotedPost from '../../components/provider/PromotedPost.astro';

const pageTitle = "Trabajos Que Ayudan";
const calificacion = "4.7"
const nameTitle = "Fernando Herrera"
const ubicacion = "Moravia"
const telefono = "8866-9283"
const correo = "jardineria.fernando@gmail.com"
const tiempoLaboroso = "5 meses"
const porfileImage = "https://st4.depositphotos.com/1017986/39200/i/450/depositphotos_392006782-stock-photo-happy-man-in-apron-at.jpg"
---
<BaseLayout pageTitle={pageTitle}>
    <body>
        <div class="container">
            <div class="info">
                <div class="profile">
                    <h2>Bienvenido!</h2>
                    <h1>{nameTitle}</h1>
                    <img src={porfileImage} class="rounded-full object-cover object-center">
                    <CalificationStars {calificacion}/>
                    <p>Ubicacion: {ubicacion}</p>
                    <p>Numero de telefono: {telefono}</p>
                    <p>Correo: {correo}</p>
                    <p>En la app desde: {tiempoLaboroso}</p>
                    <Calendar />
                    <button class="edit-button">Editar perfil</button>
                </div>
            </div>
            <PromotedPost />
        </div>
    </body>
</BaseLayout>

<style>
    .container {
        max-width: 100%;
        margin-top: 30px;
        display: flex;
    }

    .info{
        max-width: 100%;
        min-width: 25%;
        padding: 3rem;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        display: flex;
        justify-content: center;
    }

    .container-anuncios{
        max-width: 100%;
        width: 90%;
        margin-left: 2rem;
    }
    .profile {
        text-align: center;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;
    }

    /* .profile img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    } */

    .profile h1 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .container h2 {
        font-size: 24px;
    }

    .profile p {
        margin-top: 1rem;
    }

    strong {
        font-weight: bold;
    }

    .edit-button {
    margin-top: 1rem;
    background-color: black;
    color: #FFF;
    border: none;
    padding: 12px 22px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    }

    .edit-button:hover {
    background-color: #5B5B5B;
    }

    @media all and (max-width: 720px) {
        .container{
            max-width: 100%;
            margin-top: 0rem;
            display: flex;
            flex-direction: column;
        }

        .container-anuncios{
            margin: 0;
            align-self: center;
        }

        .info{
            display: flex;
        flex-direction: column;
        align-items: center;
        }

        .info h1{
            text-align: center;
        }
        .profile{
            margin:0;
            display: flex;
            align-items: center;
        }
    }
</style>